
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" >

    <div class="row content">
      <div class="col-lg-6" >
        <h3 class="class">{{ title }}</h3>
        <img [src]="netImage" alt="logo" style="width: 100%;">
        <h3 class="clasas">{{ subtitle }}</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" >
        <p>
          {{ about }}
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
          <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
        </ul>
        <p class="font-italic">
          {{ sub }}
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
